:root{
  --icon-size-mobile: 24px;
  --icon-size-desktop: 36px;
  --icon-color-active: rgb(119, 205, 242);
  --icon-color-inactive: rgba(255, 255, 255, 0.3);
}
* {
  box-sizing: border-box;
}

Main {
  background: #3c3037;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.backgroundImage {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(to right bottom, #00f1fd, #008887);
  width: 100%;
  height: 100%;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -42.5vh;
  margin-left: -45vw;
  height: 85vh;
  width: 90vw;
  background: #3c3037;
  z-index: 9999;
  overflow: hidden;
  padding: 0px;
  box-shadow: 6px 6px 16px #41343b;
}


.App {
  text-align: center;
  overflow: none;
}

.pages {
  height: 100% !important;
  width: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ----------------------- Header & Navigation ------------------------ */
.header {
  text-align: left;
  height: 50px;
  border-bottom: 2px dashed #444444;
  margin: 0px;
  padding: 0px;
}

.header > ul {
  display: inline !important;
}

.header > ul > li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  margin-top: 6px;
  margin-bottom: 0px;
}

.navLink {
  color: var(--icon-color-inactive) !important;
  text-decoration: none;
  font-size: var(--icon-size-desktop);
}

.navLink.active {
  color: var(--icon-color-active) !important;
}
.navLink:hover {
  color: var(--icon-color-active) !important;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.navLogo{
  font-family: 'Lobster', cursive;
  color: #EEE;
  display: inline;
}

.NavLogoA{
  color: #48AA9E;
  font-family: 'Lobster', cursive;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.2; }
}

/* -------------------------- Home Page ------------------------------ */
.home {
  height: 100%;
  background: 
  linear-gradient(
    to right bottom, 
    #00f0fd21, 
    #00888817
    ),
    url('./images/home_bg.jpeg');
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  color: #41343b;
  padding-top: 10px;
}

/* -------------------------- About ---------------------------------- */
.aboutContainer {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px 2px;
}

.about {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  color: rgb(151, 182, 196);
}

.skillsContainer {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin-bottom: 25px;
}
.skills {
  display: inline-block;
  height: 100%;
  width: 25%;
  border: 2px solid grey;
  background-color: #382c33;
  margin: 45px;
  margin-top: 0px;
  padding: 0px;
  vertical-align: top;
}

.skillHeader {
  height: 60px;
  margin: 0px;
  padding: 5px;
  color: white;
}

.comfortable{
  background: linear-gradient(to right bottom, #a6cc1b, #017c7c);
}

.familiar {
  background: linear-gradient(to right bottom, #188edd, #017c7c);
}

.learning {
  background: linear-gradient(to right bottom, #d8712d, #017c7c);
}

.skillContent {
  height: 100%;

} 

.skillIcon {
  display: inline-block;
  margin: 15px;
  font-size: 4rem;
}

/* --------------------------- Projects -------------------------------- */
.projectList {
  position: relative;
  text-align: left;
  width: 100%;
  height: 35%;
  padding: 15px;
  overflow: auto !important;
  background: rgb(46, 36, 42);
  white-space: nowrap;
}

.projectList > ul {
  list-style: none;
}

.projectList > ul > li {
  display: inline-block;
  vertical-align: top;
}

.projectItem {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: #188edd;
  margin-right: 25px;
  display: inline-block;
  transition: width 0.75s ease-in-out;
  text-align: center;
  overflow: hidden;
  color: black;
}

.projectItem:hover {
  width: 200px;
  cursor: pointer;
  background: gray;
}

.projectItem:hover .projectTitle {
  display: inline-block;
}

.projectTitle {
  display: none;
}

.projectDisplay {
  width: 100%;
}

/* --------------------------- Contact --------------------------------- */

.contactForm {
  width: 30%;
  align-content: center;
  align-items: center;
  margin-left: 35%;
}

.contactForm > form > input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
  background: linear-gradient(to right bottom, #00f1fd, #00acac);
  border: none;
}

#formSubmit {
  width: 50px;
}
#formSubmit:hover {
  background: linear-gradient(to right bottom, #188edd, #017c7c);
  cursor: pointer;
}

.contactForm > form > textarea {
  width: 100%;
  height: 75%;
  background: linear-gradient(to right bottom, #00f1fd, #00acac);
  border: none;
}

.socialLinks {
  text-align: center;
  padding-left: 35px;
}
.socialLinks > a > i {
  color: rgb(128, 152, 163);
  display: inline-block;
  vertical-align: top;
  font-size: 3rem;
  margin-right: 35px;
}

#facebook:hover {
  color: rgb(60,102,175);
  cursor: pointer;
}

#linkedin:hover {
  color: rgb(0,118,178);
  cursor: pointer;
}

#twitter:hover {
  color: rgb(0,160,238);
  cursor: pointer;
}

/* --------------------------- Breakpoints ---------------------------- */

@media (max-width: 1200px) {
  .skills {
    margin: 30px;
    margin-top: 0px;
  }
}

@media (max-width: 995px) {
  .content {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  .skillIcon {
    display: inline-block;
    margin: 15px;
    font-size: 3rem;
  }
  .skills {
    height: 100%;
    width: 50% !important;
    margin: 45px;
    margin-top: 0px;
    padding: 0px;
  }
  
  .contactForm{
    width: 50%;
    margin-left: 25%
  }
}